@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  @apply bg-gray-100 text-gray-900;
}

.hero {
  @apply bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 text-white py-20 text-center;
}
.gradient-text {
  background: linear-gradient(to right, #180d28, #3d1772); /* Customize your gradient colors here */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-card {
  @apply border rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105;
}

/* Animations */
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: slide-in 0.5s ease-out;
}

@keyframes parallax {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center 100%;
  }
}

.parallax {
  animation: parallax 20s infinite linear;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 50;
}

button {
  @apply bg-gradient-to-r from-blue-500 to-purple-500 text-white py-2 px-4 rounded-lg hover:from-blue-600 hover:to-purple-600;
}

.footer {
  @apply bg-gray-800 text-white py-4;
}
